In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
d1 = pd.read_csv('spend.csv')
d1

      Sl No: Customer      Month        Type     Amount
0          1       A1  12-Jan-04   JEWELLERY  485470.80
1          2       A1   3-Jan-04       PETRO  410556.13
2          3       A1  15-Jan-04     CLOTHES   23740.46
3          4       A1  25-Jan-04        FOOD  484342.47
4          5       A1  17-Jan-05      CAMERA  369694.07
...      ...      ...        ...         ...        ...
1495    1496      A67   4-Feb-06  BUS TICKET  356872.73
1496    1497      A68  25-Mar-06  BUS TICKET  204971.10
1497    1498      A69  31-Mar-06  BUS TICKET   50449.44
1498    1499      A70  23-Mar-06  BUS TICKET   80593.94
1499    1500      A71  24-Mar-06  BUS TICKET  194447.62

[1500 rows x 5 columns]

In [7]:
d1.columns.values

array(['Sl No:', 'Customer', 'Month', 'Type', 'Amount'], dtype=object)

In [8]:
#Finding the number of unique values in each column
d1.nunique(axis = 0)

Sl No:      1500
Customer     100
Month         74
Type          15
Amount      1500
dtype: int64

In [9]:
!pip install autoscraper

Collecting autoscraper
  Downloading autoscraper-1.1.12-py3-none-any.whl (10 kB)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: lxml in c:\users\dp\anaconda3\lib\site-packages (from autoscraper) (4.5.0)
Requirement already satisfied: requests in c:\users\dp\anaconda3\lib\site-packages (from autoscraper) (2.22.0)
Requirement already satisfied: beautifulsoup4 in c:\users\dp\anaconda3\lib\site-packages (from bs4->autoscraper) (4.8.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\dp\anaconda3\lib\site-packages (from requests->autoscraper) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dp\anaconda3\lib\site-packages (from requests->autoscraper) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dp\anaconda3\lib\site-packages (from requests->autoscraper) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\dp\anaconda3\lib\site-packages (from requests->autoscraper) (2.8)
Requirement already satisfied: soupsieve>=1.2 in c:\users\dp\anaconda3\lib\site-packages (from beautifulsoup4->bs4->autoscraper) (1.9.5)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1279 sha256=fd4d2c2f3a9d74fd9443a870c08851afbd2b2afbd469e96e29bbb2348ced553d
  Stored in directory: c:\users\dp\appdata\local\pip\cache\wheels\0a\9e\ba\20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4, autoscraper
Successfully installed autoscraper-1.1.12 bs4-0.0.1

In [10]:
from autoscraper import AutoScraper

In [11]:
#Finding the unique values in a Type column
products = d1['Type'].unique()
products

array(['JEWELLERY', 'PETRO', 'CLOTHES', 'FOOD', 'CAMERA', 'SANDALS',
       'CAR', 'BIKE', 'AUTO', 'SHOPPING', 'AIR TICKET', 'BUS TICKET',
       'TRAIN TICKET', 'RENTAL', 'MOVIE TICKET'], dtype=object)

In [12]:
#Products of BFL
actual_products = np.array(['Loan','Fixed Deposit','Credit Card','EMI NETWORK Card','Lease Rent Discounting','Mutual Funds','Demat Account'
                  ,'Extended Warranty','Asset Care','Health Insurance','Health EMI Network Card','Personal Loan','2&3 Wheerler Loan','Motor Insurance'
                  ,'Home Insurance'])
actual_products

array(['Loan', 'Fixed Deposit', 'Credit Card', 'EMI NETWORK Card',
       'Lease Rent Discounting', 'Mutual Funds', 'Demat Account',
       'Extended Warranty', 'Asset Care', 'Health Insurance',
       'Health EMI Network Card', 'Personal Loan', '2&3 Wheerler Loan',
       'Motor Insurance', 'Home Insurance'], dtype='<U23')

In [13]:
#Mapping the products with BFL products
dict = {}
for A, B in zip(products , actual_products):
    dict[A]= B
dict

{'JEWELLERY': 'Loan',
 'PETRO': 'Fixed Deposit',
 'CLOTHES': 'Credit Card',
 'FOOD': 'EMI NETWORK Card',
 'CAMERA': 'Lease Rent Discounting',
 'SANDALS': 'Mutual Funds',
 'CAR': 'Demat Account',
 'BIKE': 'Extended Warranty',
 'AUTO': 'Asset Care',
 'SHOPPING': 'Health Insurance',
 'AIR TICKET': 'Health EMI Network Card',
 'BUS TICKET': 'Personal Loan',
 'TRAIN TICKET': '2&3 Wheerler Loan',
 'RENTAL': 'Motor Insurance',
 'MOVIE TICKET': 'Home Insurance'}

In [14]:
#Replacing with BFL products
d1.replace({'Type': dict}, inplace = True)

In [20]:
d2 = pd.read_csv(r'C:\Users\dp\Downloads\Customer_Acqusition.csv')
d2.head()

   No Customer  Age       City   Product     Limit Company        Segment
0   1       A1   76  BANGALORE      Gold  500000.0      C1  Self Employed
1   2       A2   71   CALCUTTA    Silver  100000.0      C2   Salaried_MNC
2   3       A3   34     COCHIN  Platimum   10000.0      C3   Salaried_Pvt
3   4       A4   47     BOMBAY  Platimum   10001.0      C4           Govt
4   5       A5   56  BANGALORE  Platimum   10002.0      C5  Normal Salary

In [21]:
d2.nunique(axis = 0)

No          100
Customer    100
Age          55
City          8
Product       3
Limit         8
Company      41
Segment       5
dtype: int64

In [22]:
customers = d1['Customer'].unique()
customers

array(['A1', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16',
       'A17', 'A18', 'A19', 'A20', 'A21', 'A22', 'A23', 'A24', 'A25',
       'A26', 'A27', 'A28', 'A29', 'A30', 'A31', 'A32', 'A33', 'A34',
       'A35', 'A36', 'A37', 'A38', 'A39', 'A40', 'A41', 'A42', 'A43',
       'A44', 'A45', 'A46', 'A47', 'A48', 'A49', 'A50', 'A51', 'A52',
       'A53', 'A54', 'A55', 'A56', 'A57', 'A58', 'A59', 'A60', 'A61',
       'A62', 'A63', 'A64', 'A65', 'A66', 'A67', 'A68', 'A69', 'A70',
       'A71', 'A72', 'A73', 'A74', 'A75', 'A76', 'A77', 'A78', 'A79',
       'A80', 'A81', 'A82', 'A83', 'A84', 'A85', 'A86', 'A87', 'A88',
       'A89', 'A90', 'A91', 'A92', 'A93', 'A94', 'A95', 'A96', 'A97',
       'A98', 'A99', 'A100', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7'],
      dtype=object)

In [23]:
cities = d2['City'].unique()
cities

array(['BANGALORE', 'CALCUTTA', 'COCHIN', 'BOMBAY', 'DELHI', 'PATNA',
       'CHENNAI', 'TRIVANDRUM'], dtype=object)

In [24]:
segment = d2['Segment'].unique()
segment

array(['Self Employed', 'Salaried_MNC', 'Salaried_Pvt', 'Govt',
       'Normal Salary'], dtype=object)

In [25]:
import random
def add():
    dict_customer_city = {}
    
    for i in customers:
        index = random.randint(0,7)
        dict_customer_city[i]=cities[index]
    return dict_customer_city 
dict_customer_city = add()

In [26]:
def add1():
    dict_customer_seg = {}
    
    for i in customers:
        index = random.randint(0,4)
        dict_customer_seg[i]=segment[index]
    return dict_customer_seg
dict_customer_seg = add1()

In [27]:
d1['City'] = d1['Customer'].apply(lambda x:dict_customer_city[x])

In [28]:
d1['Segment'] = d1['Customer'].apply(lambda x:dict_customer_seg[x])

In [29]:
d1

,Sl No:,Customer,Month,Type,Amount,City,Segment
0,1,A1,12-Jan-04,Loan,485470.80,BOMBAY,Salaried_Pvt
1,2,A1,3-Jan-04,Fixed Deposit,410556.13,BOMBAY,Salaried_Pvt
2,3,A1,15-Jan-04,Credit Card,23740.46,BOMBAY,Salaried_Pvt
3,4,A1,25-Jan-04,EMI NETWORK Card,484342.47,BOMBAY,Salaried_Pvt
4,5,A1,17-Jan-05,Lease Rent Discounting,369694.07,BOMBAY,Salaried_Pvt
...,...,...,...,...,...,...,...
1495,1496,A67,4-Feb-06,Personal Loan,356872.73,BOMBAY,Normal Salary
1496,1497,A68,25-Mar-06,Personal Loan,204971.10,CALCUTTA,Self Employed
1497,1498,A69,31-Mar-06,Personal Loan,50449.44,CHENNAI,Salaried_Pvt
1498,1499,A70,23-Mar-06,Personal Loan,80593.94,DELHI,Normal Salary
1499,1500,A71,24-Mar-06,Personal Loan,194447.62,TRIVANDRUM,Salaried_Pvt

In [30]:
import random
ratings_list = range(1,6)
product_ratings = random.choices(ratings_list,k=1500)

In [33]:
df = pd.read_csv(r'C:\Users\dp\Downloads\Customer_Acqusition.csv')
df

     No Customer  Age        City   Product     Limit Company        Segment
0     1       A1   76   BANGALORE      Gold  500000.0      C1  Self Employed
1     2       A2   71    CALCUTTA    Silver  100000.0      C2   Salaried_MNC
2     3       A3   34      COCHIN  Platimum   10000.0      C3   Salaried_Pvt
3     4       A4   47      BOMBAY  Platimum   10001.0      C4           Govt
4     5       A5   56   BANGALORE  Platimum   10002.0      C5  Normal Salary
..  ...      ...  ...         ...       ...       ...     ...            ...
95   96      A96   54     CHENNAI    Silver  100000.0     C19   Salaried_Pvt
96   97      A97   58  TRIVANDRUM  Platimum   10000.0     C20           Govt
97   98      A98   51    CALCUTTA  Platimum   10001.0     C21  Normal Salary
98   99      A99   35    CALCUTTA  Platimum   10002.0     C22  Self Employed
99  100     A100   36      COCHIN    Silver  100000.0      C5   Salaried_MNC

[100 rows x 8 columns]

In [34]:
age_array = list(df['Age'])
customer_array = list(df['Customer'])
result_dict = list(zip(customer_array,age_array))
dict_customer_age = {}
for i in result_dict:
    dict_customer_age[i[0]] = i[1]

In [35]:
d1['Age'] = d1['Customer'].apply(lambda x:dict_customer_age[x])
d1

,Sl No:,Customer,Month,Type,Amount,City,Segment,Age
0,1,A1,12-Jan-04,Loan,485470.80,BOMBAY,Salaried_Pvt,76
1,2,A1,3-Jan-04,Fixed Deposit,410556.13,BOMBAY,Salaried_Pvt,76
2,3,A1,15-Jan-04,Credit Card,23740.46,BOMBAY,Salaried_Pvt,76
3,4,A1,25-Jan-04,EMI NETWORK Card,484342.47,BOMBAY,Salaried_Pvt,76
4,5,A1,17-Jan-05,Lease Rent Discounting,369694.07,BOMBAY,Salaried_Pvt,76
...,...,...,...,...,...,...,...,...
1495,1496,A67,4-Feb-06,Personal Loan,356872.73,BOMBAY,Normal Salary,54
1496,1497,A68,25-Mar-06,Personal Loan,204971.10,CALCUTTA,Self Employed,12
1497,1498,A69,31-Mar-06,Personal Loan,50449.44,CHENNAI,Salaried_Pvt,33
1498,1499,A70,23-Mar-06,Personal Loan,80593.94,DELHI,Normal Salary,16
1499,1500,A71,24-Mar-06,Personal Loan,194447.62,TRIVANDRUM,Salaried_Pvt,34

In [36]:
d1['Product-ratings'] = product_ratings
d1

,Sl No:,Customer,Month,Type,Amount,City,Segment,Age,Product-ratings
0,1,A1,12-Jan-04,Loan,485470.80,BOMBAY,Salaried_Pvt,76,5
1,2,A1,3-Jan-04,Fixed Deposit,410556.13,BOMBAY,Salaried_Pvt,76,5
2,3,A1,15-Jan-04,Credit Card,23740.46,BOMBAY,Salaried_Pvt,76,5
3,4,A1,25-Jan-04,EMI NETWORK Card,484342.47,BOMBAY,Salaried_Pvt,76,3
4,5,A1,17-Jan-05,Lease Rent Discounting,369694.07,BOMBAY,Salaried_Pvt,76,1
...,...,...,...,...,...,...,...,...,...
1495,1496,A67,4-Feb-06,Personal Loan,356872.73,BOMBAY,Normal Salary,54,3
1496,1497,A68,25-Mar-06,Personal Loan,204971.10,CALCUTTA,Self Employed,12,4
1497,1498,A69,31-Mar-06,Personal Loan,50449.44,CHENNAI,Salaried_Pvt,33,3
1498,1499,A70,23-Mar-06,Personal Loan,80593.94,DELHI,Normal Salary,16,5
1499,1500,A71,24-Mar-06,Personal Loan,194447.62,TRIVANDRUM,Salaried_Pvt,34,4

In [37]:
gender_list = random.choices(['M','F'],k=100)
gender_list = list(zip(customer_array,gender_list))
gender_dict = {}
for i in gender_list:
    gender_dict[i[0]] = i[1]
d1['gender'] = d1['Customer'].apply(lambda x:gender_dict[x])
d1

,Sl No:,Customer,Month,Type,Amount,City,Segment,Age,Product-ratings,gender
0,1,A1,12-Jan-04,Loan,485470.80,BOMBAY,Salaried_Pvt,76,5,M
1,2,A1,3-Jan-04,Fixed Deposit,410556.13,BOMBAY,Salaried_Pvt,76,5,M
2,3,A1,15-Jan-04,Credit Card,23740.46,BOMBAY,Salaried_Pvt,76,5,M
3,4,A1,25-Jan-04,EMI NETWORK Card,484342.47,BOMBAY,Salaried_Pvt,76,3,M
4,5,A1,17-Jan-05,Lease Rent Discounting,369694.07,BOMBAY,Salaried_Pvt,76,1,M
...,...,...,...,...,...,...,...,...,...,...
1495,1496,A67,4-Feb-06,Personal Loan,356872.73,BOMBAY,Normal Salary,54,3,M
1496,1497,A68,25-Mar-06,Personal Loan,204971.10,CALCUTTA,Self Employed,12,4,M
1497,1498,A69,31-Mar-06,Personal Loan,50449.44,CHENNAI,Salaried_Pvt,33,3,F
1498,1499,A70,23-Mar-06,Personal Loan,80593.94,DELHI,Normal Salary,16,5,F
1499,1500,A71,24-Mar-06,Personal Loan,194447.62,TRIVANDRUM,Salaried_Pvt,34,4,F

In [113]:
# Removing redundant features from dataframe.
df_final = d1.drop(['Sl No:', 'Amount'], axis = 1)

# Setting all under 18 status as Single
df_final['Relationship Status'] = [random.choices(['Single','Married'])[0] if df_final['Age'][i] > 18 else "Single" for i in range(len(df_final['Customer']))]

pd.set_option('max_colwidth', 100)
pd.set_option("display.max_rows", None, "display.max_columns", None)

# Converting Month column into Datetime
df_final['Month'] = df_final['Month'].apply(pd.to_datetime)
df_final

,Customer,Month,Type,City,Segment,Age,Product-ratings,gender,Relationship Status
0,A1,2004-01-12,Loan,BOMBAY,Salaried_Pvt,76,5,M,Single
1,A1,2004-01-03,Fixed Deposit,BOMBAY,Salaried_Pvt,76,5,M,Married
2,A1,2004-01-15,Credit Card,BOMBAY,Salaried_Pvt,76,5,M,Single
3,A1,2004-01-25,EMI NETWORK Card,BOMBAY,Salaried_Pvt,76,3,M,Married
4,A1,2005-01-17,Lease Rent Discounting,BOMBAY,Salaried_Pvt,76,1,M,Single
5,A1,2005-02-23,Mutual Funds,BOMBAY,Salaried_Pvt,76,4,M,Single
6,A1,2005-02-01,Demat Account,BOMBAY,Salaried_Pvt,76,2,M,Single
7,A8,2004-02-05,Extended Warranty,TRIVANDRUM,Self Employed,67,4,F,Single
8,A9,2005-02-28,Asset Care,BOMBAY,Salaried_MNC,79,4,F,Married
9,A10,2005-02-16,Health Insurance,COCHIN,Salaried_Pvt,54,1,F,Married
10,A11,2005-02-23,Health EMI Network Card,CALCUTTA,Self Employed,35,3,M,Married
11,A12,2005-02-03,Personal Loan,DELHI,Salaried_Pvt,51,1,M,Single
12,A13,2006-02-04,2&3 Wheerler Loan,BOMBAY,Govt,29,2,F,Single
13,A14,2006-03-25,Motor Insurance,TRIVANDRUM,Salaried_MNC,16,1,M,Single
14,A15,2006-03-31,Home Insurance,BANGALORE,Salaried_MNC,25,5,F,Married
15,A16,2006-03-23,Loan,TRIVANDRUM,Salaried_MNC,52,3,F,Married
16,A17,2004-03-19,Fixed Deposit,CHENNAI,Self Employed,78,3,M,Single
17,A18,2006-03-05,Credit Card,CHENNAI,Salaried_MNC,34,5,M,Single
18,A19,2005-04-04,EMI NETWORK Card,COCHIN,Salaried_MNC,27,1,M,Married
19,A20,2006-04-30,Loan,TRIVANDRUM,Govt,27,4,F,Single
20,A21,2004-04-25,Fixed Deposit,BOMBAY,Normal Salary,57,1,F,Single
21,A22,2006-04-19,Credit Card,TRIVANDRUM,Salaried_Pvt,27,1,F,Single
22,A23,2004-04-06,EMI NETWORK Card,COCHIN,Self Employed,51,4,M,Single
23,A24,2005-04-27,Lease Rent Discounting,COCHIN,Govt,53,1,F,Single
24,A25,2004-05-05,Mutual Funds,CHENNAI,Self Employed,35,5,F,Married
25,A26,2006-05-06,Demat Account,TRIVANDRUM,Salaried_MNC,38,3,F,Married
26,A27,2005-05-07,Extended Warranty,BANGALORE,Salaried_MNC,24,1,F,Married
27,A28,2006-05-08,Asset Care,TRIVANDRUM,Salaried_Pvt,36,5,F,Single
28,A29,2005-05-09,Health Insurance,COCHIN,Salaried_MNC,72,2,M,Married
29,A30,2006-05-10,Health EMI Network Card,CHENNAI,Salaried_Pvt,25,1,F,Single
30,A31,2006-07-11,Personal Loan,TRIVANDRUM,Govt,63,1,M,Married
31,A32,2005-08-12,2&3 Wheerler Loan,BANGALORE,Salaried_Pvt,41,2,F,Married
32,A33,2004-09-13,Motor Insurance,TRIVANDRUM,Govt,19,5,M,Single
33,A34,2005-11-20,Home Insurance,COCHIN,Self Employed,34,5,M,Married
34,A35,2006-11-21,Lease Rent Discounting,DELHI,Salaried_Pvt,55,2,F,Single
35,A36,2005-11-22,Mutual Funds,CALCUTTA,Self Employed,60,2,F,Single
36,A37,2004-11-23,Demat Account,PATNA,Salaried_MNC,61,1,M,Single
37,A38,2005-05-24,Extended Warranty,BANGALORE,Salaried_MNC,47,2,M,Single
38,A39,2005-05-25,Asset Care,CALCUTTA,Salaried_MNC,78,2,F,Single
39,A40,2005-05-26,Health Insurance,CHENNAI,Salaried_Pvt,37,4,F,Married
40,A41,2005-05-27,Health EMI Network Card,TRIVANDRUM,Normal Salary,13,3,M,Single
41,A42,2005-05-28,Personal Loan,TRIVANDRUM,Self Employed,50,3,F,Married
42,A43,2005-05-29,2&3 Wheerler Loan,CHENNAI,Govt,21,4,M,Married
43,A44,2005-05-30,Motor Insurance,PATNA,Salaried_MNC,28,4,M,Single
44,A45,2005-05-31,Home Insurance,TRIVANDRUM,Govt,67,1,F,Married
45,A46,2005-06-01,Loan,DELHI,Govt,49,1,F,Married
46,A47,2005-06-02,Fixed Deposit,DELHI,Salaried_Pvt,28,1,F,Single
47,A48,2005-06-03,Credit Card,CHENNAI,Salaried_MNC,42,2,M,Married
48,A49,2005-07-03,EMI NETWORK Card,DELHI,Salaried_Pvt,39,3,F,Single
49,A50,2005-08-03,Lease Rent Discounting,PATNA,Self Employed,69,3,M,Single
50,A51,2005-09-03,Mutual Funds,BOMBAY,Self Employed,59,4,M,Married
51,A52,2005-10-03,Demat Account,PATNA,Govt,50,3,F,Married
52,A53,2005-11-03,Extended Warranty,PATNA,Normal Salary,21,1,M,Married
53,A54,2005-12-03,Asset Care,BANGALORE,Salaried_MNC,46,2,F,Single
54,A55,2006-01-03,Health Insurance,BOMBAY,Self Employed,43,5,F,Married
55,A56,2006-02-03,Health EMI Network Card,BOMBAY,Salaried_MNC,60,3,F,Married
56,A57,2006-03-03,Personal Loan,CHENNAI,Normal Salary,37,1,F,Married
57,A58,2006-04-03,2&3 Wheerler Loan,PATNA,Normal Salary,32,5,M,Single
58,A59,2006-05-03,Motor Insurance,DELHI,Normal Salary,74,5,M,Married
59,A60,2006-06-03,Home Insurance,BOMBAY,Govt,28,1,F,Married
60,A61,2006-07-03,Loan,CALCUTTA,Salaried_MNC,44,4,F,Married
61,A60,2006-08-03,Fixed Deposit,BOMBAY,Govt,28,1,F,Single
62,A61,2006-09-03,Credit Card,CALCUTTA,Salaried_MNC,44,3,F,Single
63,A62,2006-10-03,EMI NETWORK Card,COCHIN,Salaried_MNC,39,1,M,Single
64,A63,2006-11-03,Lease Rent Discounting,BANGALORE,Normal Salary,15,2,M,Single
65,A64,2006-12-03,Mutual Funds,PATNA,Self Employed,77,1,M,Married
66,A65,2004-01-12,Demat Account,CALCUTTA,Govt,41,3,F,Married
67,A66,2004-01-03,Extended Warranty,BANGALORE,Salaried_Pvt,77,3,M,Single
68,A67,2004-01-15,Asset Care,BOMBAY,Normal Salary,54,2,M,Married
69,A68,2004-01-25,Health Insurance,CALCUTTA,Self Employed,12,5,M,Single
70,A69,2005-01-17,Health EMI Network Card,CHENNAI,Salaried_Pvt,33,5,F,Married
71,A70,2005-02-23,Health EMI Network Card,DELHI,Normal Salary,16,4,F,Single
72,A71,2005-02-01,Health EMI Network Card,TRIVANDRUM,Salaried_Pvt,34,2,F,Married
73,A72,2004-02-05,Health EMI Network Card,COCHIN,Salaried_Pvt,63,4,M,Married
74,A73,2005-02-28,Health EMI Network Card,CHENNAI,Govt,75,2,F,Single
75,A74,2005-02-16,Health EMI Network Card,CHENNAI,Normal Salary,51,2,F,Single
76,A75,2005-02-23,Health EMI Network Card,CHENNAI,Normal Salary,36,5,M,Single
77,A76,2005-02-03,Health EMI Network Card,COCHIN,Salaried_MNC,66,4,F,Married
78,A77,2006-02-04,Health EMI Network Card,CHENNAI,Govt,35,4,F,Married
79,A78,2006-03-25,Lease Rent Discounting,DELHI,Self Employed,71,4,M,Married
80,A79,2006-03-31,Mutual Funds,BOMBAY,Self Employed,60,3,F,Single
81,A80,2006-03-23,Demat Account,CHENNAI,Normal Salary,39,1,F,Married
82,A81,2006-03-24,Extended Warranty,TRIVANDRUM,Self Employed,65,3,F,Single
83,A82,2006-03-25,Asset Care,BANGALORE,Self Employed,52,1,F,Single
84,A83,2006-03-26,Health Insurance,DELHI,Normal Salary,37,1,F,Married
85,A84,2006-03-27,Health EMI Network Card,TRIVANDRUM,Govt,70,3,F,Married
86,A85,2006-03-28,Personal Loan,CHENNAI,Self Employed,59,5,M,Single
87,A86,2006-03-29,2&3 Wheerler Loan,BANGALORE,Normal Salary,25,2,F,Married
88,A87,2006-03-30,Motor Insurance,DELHI,Self Employed,27,5,M,Single
89,A88,2006-03-31,Home Insurance,DELHI,Normal Salary,63,1,F,Married
90,A89,2006-04-01,Loan,BOMBAY,Salaried_Pvt,72,2,M,Married
91,A90,2006-04-02,Fixed Deposit,PATNA,Govt,16,5,M,Single
92,A91,2006-04-03,Credit Card,CALCUTTA,Normal Salary,41,4,F,Single
93,A92,2006-04-04,EMI NETWORK Card,COCHIN,Self Employed,78,3,M,Married
94,A93,2004-01-12,Lease Rent Discounting,CHENNAI,Salaried_Pvt,56,2,M,Married
95,A94,2004-01-03,Mutual Funds,CALCUTTA,Govt,31,3,F,Single
96,A95,2004-01-15,Demat Account,CHENNAI,Salaried_MNC,62,2,F,Married
97,A96,2004-01-25,Extended Warranty,BANGALORE,Salaried_MNC,54,3,F,Single
98,A97,2004-01-12,Asset Care,COCHIN,Salaried_Pvt,58,4,M,Married
99,A98,2004-01-03,Health Insurance,CALCUTTA,Govt,51,2,F,Single
100,A99,2004-01-15,Health EMI Network Card,BOMBAY,Govt,35,1,F,Single
101,A100,2004-01-25,Personal Loan,BOMBAY,Govt,36,3,M,Married
102,A1,2004-01-12,2&3 Wheerler Loan,BOMBAY,Salaried_Pvt,76,1,M,Single
103,A2,2004-01-03,Motor Insurance,BANGALORE,Govt,71,3,F,Married
104,A3,2004-01-15,Home Insurance,DELHI,Salaried_Pvt,34,1,F,Married
105,A4,2004-01-25,Loan,TRIVANDRUM,Govt,47,3,M,Married
106,A5,2004-01-12,Fixed Deposit,COCHIN,Govt,56,2,F,Married
107,A6,2004-01-03,Credit Card,CHENNAI,Govt,70,1,F,Single
108,A7,2004-01-15,EMI NETWORK Card,DELHI,Salaried_MNC,26,5,M,Single
109,A8,2004-01-12,Lease Rent Discounting,TRIVANDRUM,Self Employed,67,3,F,Married
110,A9,2004-01-03,Lease Rent Discounting,BOMBAY,Salaried_MNC,79,5,F,Single
111,A10,2004-01-15,Lease Rent Discounting,COCHIN,Salaried_Pvt,54,5,F,Married
112,A11,2004-01-25,Lease Rent Discounting,CALCUTTA,Self Employed,35,4,M,Married
113,A12,2005-01-17,Lease Rent Discounting,DELHI,Salaried_Pvt,51,5,M,Single
114,A13,2005-02-23,Health Insurance,BOMBAY,Govt,29,3,F,Married
115,A14,2005-02-01,Health EMI Network Card,TRIVANDRUM,Salaried_MNC,16,4,M,Single
116,A1,2004-02-05,Personal Loan,BOMBAY,Salaried_Pvt,76,4,M,Single
117,A2,2005-02-28,2&3 Wheerler Loan,BANGALORE,Govt,71,5,F,Single
118,A3,2005-02-16,2&3 Wheerler Loan,DELHI,Salaried_Pvt,34,3,F,Married
119,A4,2005-02-23,2&3 Wheerler Loan,TRIVANDRUM,Govt,47,4,M,Single
120,A5,2005-02-03,2&3 Wheerler Loan,COCHIN,Govt,56,2,F,Married
121,A6,2006-02-04,2&3 Wheerler Loan,CHENNAI,Govt,70,1,F,Single
122,A7,2006-03-25,2&3 Wheerler Loan,DELHI,Salaried_MNC,26,4,M,Married
123,A8,2006-03-31,2&3 Wheerler Loan,TRIVANDRUM,Self Employed,67,1,F,Single
124,A9,2006-03-23,Lease Rent Discounting,BOMBAY,Salaried_MNC,79,1,F,Married
125,A10,2004-03-19,Mutual Funds,COCHIN,Salaried_Pvt,54,4,F,Married
126,A11,2006-03-05,Demat Account,CALCUTTA,Self Employed,35,2,M,Married
127,A12,2005-04-04,Extended Warranty,DELHI,Salaried_Pvt,51,5,M,Single
128,A13,2006-04-30,Asset Care,BOMBAY,Govt,29,2,F,Single
129,A14,2004-04-25,Health Insurance,TRIVANDRUM,Salaried_MNC,16,4,M,Single
130,A1,2006-04-19,Health EMI Network Card,BOMBAY,Salaried_Pvt,76,2,M,Single
131,A2,2004-04-06,Personal Loan,BANGALORE,Govt,71,1,F,Single
132,A3,2005-04-27,2&3 Wheerler Loan,DELHI,Salaried_Pvt,34,3,F,Single
133,A4,2004-05-05,Motor Insurance,TRIVANDRUM,Govt,47,1,M,Married
134,A5,2006-05-06,Home Insurance,COCHIN,Govt,56,5,F,Single
135,A6,2005-05-07,Loan,CHENNAI,Govt,70,4,F,Married
136,A7,2006-05-08,Fixed Deposit,DELHI,Salaried_MNC,26,2,M,Single
137,A8,2005-05-09,Fixed Deposit,TRIVANDRUM,Self Employed,67,5,F,Single
138,A9,2006-05-10,Fixed Deposit,BOMBAY,Salaried_MNC,79,1,F,Single
139,A10,2006-07-11,Fixed Deposit,COCHIN,Salaried_Pvt,54,1,F,Married
140,A11,2005-08-12,Fixed Deposit,CALCUTTA,Self Employed,35,4,M,Single
141,A12,2004-09-13,Fixed Deposit,DELHI,Salaried_Pvt,51,2,M,Married
142,A13,2005-11-20,Fixed Deposit,BOMBAY,Govt,29,2,F,Married
143,A14,2006-11-21,Fixed Deposit,TRIVANDRUM,Salaried_MNC,16,5,M,Single
144,A1,2005-11-22,Fixed Deposit,BOMBAY,Salaried_Pvt,76,3,M,Married
145,A2,2004-11-23,Fixed Deposit,BANGALORE,Govt,71,3,F,Married
146,A3,2005-05-24,Fixed Deposit,DELHI,Salaried_Pvt,34,5,F,Single
147,A4,2005-05-25,Fixed Deposit,TRIVANDRUM,Govt,47,2,M,Married
148,A5,2005-05-26,Fixed Deposit,COCHIN,Govt,56,5,F,Single
149,A6,2005-05-27,Home Insurance,CHENNAI,Govt,70,2,F,Single
150,A7,2005-05-28,Lease Rent Discounting,DELHI,Salaried_MNC,26,5,M,Single
151,A8,2005-05-29,Lease Rent Discounting,TRIVANDRUM,Self Employed,67,3,F,Married
152,A9,2005-05-30,Lease Rent Discounting,BOMBAY,Salaried_MNC,79,4,F,Single
153,A10,2005-05-31,Health Insurance,COCHIN,Salaried_Pvt,54,4,F,Single
154,A11,2005-06-01,Health EMI Network Card,CALCUTTA,Self Employed,35,4,M,Single
155,A12,2005-06-02,Personal Loan,DELHI,Salaried_Pvt,51,1,M,Married
156,A13,2005-06-03,2&3 Wheerler Loan,BOMBAY,Govt,29,1,F,Married
157,A14,2005-07-03,Motor Insurance,TRIVANDRUM,Salaried_MNC,16,2,M,Single
158,A1,2005-08-03,Home Insurance,BOMBAY,Salaried_Pvt,76,3,M,Single
159,A2,2005-09-03,Loan,BANGALORE,Govt,71,3,F,Single
160,A3,2005-10-03,Fixed Deposit,DELHI,Salaried_Pvt,34,4,F,Single
161,A4,2005-11-03,Credit Card,TRIVANDRUM,Govt,47,1,M,Single
162,A5,2005-12-03,EMI NETWORK Card,COCHIN,Govt,56,3,F,Single
163,A6,2006-01-03,Lease Rent Discounting,CHENNAI,Govt,70,4,F,Married
164,A7,2006-02-03,Mutual Funds,DELHI,Salaried_MNC,26,3,M,Single
165,A8,2006-03-03,Demat Account,TRIVANDRUM,Self Employed,67,4,F,Married
166,A9,2006-04-03,Extended Warranty,BOMBAY,Salaried_MNC,79,2,F,Married
167,A10,2006-05-03,Asset Care,COCHIN,Salaried_Pvt,54,2,F,Single
168,A11,2006-06-03,Health Insurance,CALCUTTA,Self Employed,35,4,M,Married
169,A12,2006-07-03,Health EMI Network Card,DELHI,Salaried_Pvt,51,4,M,Single
170,A13,2006-08-03,Personal Loan,BOMBAY,Govt,29,3,F,Single
171,A14,2006-09-03,2&3 Wheerler Loan,TRIVANDRUM,Salaried_MNC,16,5,M,Single
172,A1,2006-10-03,Motor Insurance,BOMBAY,Salaried_Pvt,76,5,M,Single
173,A2,2006-11-03,Home Insurance,BANGALORE,Govt,71,4,F,Married
174,A3,2006-12-03,Loan,DELHI,Salaried_Pvt,34,1,F,Married
175,A4,2004-01-12,Fixed Deposit,TRIVANDRUM,Govt,47,4,M,Single
176,A5,2004-01-03,Credit Card,COCHIN,Govt,56,1,F,Single
177,A6,2004-01-15,EMI NETWORK Card,CHENNAI,Govt,70,3,F,Married
178,A7,2004-01-25,EMI NETWORK Card,DELHI,Salaried_MNC,26,1,M,Married
179,A8,2005-01-17,EMI NETWORK Card,TRIVANDRUM,Self Employed,67,2,F,Single
180,A9,2005-02-23,EMI NETWORK Card,BOMBAY,Salaried_MNC,79,4,F,Married
181,A10,2005-02-01,EMI NETWORK Card,COCHIN,Salaried_Pvt,54,1,F,Single
182,A11,2004-02-05,EMI NETWORK Card,CALCUTTA,Self Employed,35,3,M,Single
183,A12,2005-02-28,EMI NETWORK Card,DELHI,Salaried_Pvt,51,4,M,Single
184,A13,2005-02-16,EMI NETWORK Card,BOMBAY,Govt,29,3,F,Married
185,A14,2005-02-23,EMI NETWORK Card,TRIVANDRUM,Salaried_MNC,16,5,M,Single
186,A1,2005-02-03,EMI NETWORK Card,BOMBAY,Salaried_Pvt,76,5,M,Married
187,A2,2006-02-04,EMI NETWORK Card,BANGALORE,Govt,71,2,F,Single
188,A3,2006-03-25,EMI NETWORK Card,DELHI,Salaried_Pvt,34,5,F,Single
189,A4,2006-03-31,EMI NETWORK Card,TRIVANDRUM,Govt,47,4,M,Married
190,A5,2006-03-23,EMI NETWORK Card,COCHIN,Govt,56,2,F,Single
191,A6,2006-03-24,EMI NETWORK Card,CHENNAI,Govt,70,2,F,Married
192,A7,2006-03-25,EMI NETWORK Card,DELHI,Salaried_MNC,26,1,M,Married
193,A8,2006-03-26,EMI NETWORK Card,TRIVANDRUM,Self Employed,67,1,F,Single
194,A9,2006-03-27,EMI NETWORK Card,BOMBAY,Salaried_MNC,79,5,F,Single
195,A10,2006-03-28,EMI NETWORK Card,COCHIN,Salaried_Pvt,54,3,F,Single
196,A11,2006-03-29,EMI NETWORK Card,CALCUTTA,Self Employed,35,3,M,Married
197,A12,2006-03-30,Health Insurance,DELHI,Salaried_Pvt,51,3,M,Single
198,A13,2006-03-31,Health EMI Network Card,BOMBAY,Govt,29,4,F,Single
199,A14,2006-04-01,Personal Loan,TRIVANDRUM,Salaried_MNC,16,4,M,Single
200,A1,2006-04-02,2&3 Wheerler Loan,BOMBAY,Salaried_Pvt,76,2,M,Single
201,A2,2006-04-03,Motor Insurance,BANGALORE,Govt,71,4,F,Married
202,A3,2006-04-04,Home Insurance,DELHI,Salaried_Pvt,34,5,F,Married
203,A4,2004-01-12,Loan,TRIVANDRUM,Govt,47,1,M,Single
204,A5,2004-01-03,Fixed Deposit,COCHIN,Govt,56,3,F,Single
205,A6,2004-01-15,Credit Card,CHENNAI,Govt,70,1,F,Single
206,A7,2004-01-25,EMI NETWORK Card,DELHI,Salaried_MNC,26,3,M,Married
207,A8,2004-01-12,Lease Rent Discounting,TRIVANDRUM,Self Employed,67,1,F,Single
208,A9,2004-01-03,Lease Rent Discounting,BOMBAY,Salaried_MNC,79,2,F,Single
209,A10,2004-01-15,Lease Rent Discounting,COCHIN,Salaried_Pvt,54,1,F,Single
210,A11,2004-01-25,Lease Rent Discounting,CALCUTTA,Self Employed,35,3,M,Single
211,A12,2004-01-12,Health Insurance,DELHI,Salaried_Pvt,51,4,M,Married
212,A13,2004-01-03,Health EMI Network Card,BOMBAY,Govt,29,2,F,Married
213,A14,2004-01-15,Personal Loan,TRIVANDRUM,Salaried_MNC,16,3,M,Single
214,A1,2004-01-25,2&3 Wheerler Loan,BOMBAY,Salaried_Pvt,76,4,M,Single
215,A2,2004-01-12,Motor Insurance,BANGALORE,Govt,71,4,F,Married
216,A3,2004-01-03,Home Insurance,DELHI,Salaried_Pvt,34,2,F,Single
217,A4,2004-01-15,Loan,TRIVANDRUM,Govt,47,1,M,Single
218,A5,2004-01-12,Fixed Deposit,COCHIN,Govt,56,5,F,Married
219,A6,2004-01-03,Credit Card,CHENNAI,Govt,70,2,F,Married
220,A7,2004-01-15,Credit Card,DELHI,Salaried_MNC,26,2,M,Married
221,A8,2004-01-25,Credit Card,TRIVANDRUM,Self Employed,67,1,F,Single
222,A9,2005-01-17,Credit Card,BOMBAY,Salaried_MNC,79,1,F,Single
223,A10,2005-02-23,Credit Card,COCHIN,Salaried_Pvt,54,5,F,Single
224,A11,2005-02-01,Credit Card,CALCUTTA,Self Employed,35,4,M,Married
225,A12,2004-02-05,Credit Card,DELHI,Salaried_Pvt,51,5,M,Married
226,A13,2005-02-28,Credit Card,BOMBAY,Govt,29,1,F,Single
227,A14,2005-02-16,Credit Card,TRIVANDRUM,Salaried_MNC,16,2,M,Single
228,A1,2005-02-23,Credit Card,BOMBAY,Salaried_Pvt,76,2,M,Single
229,A2,2005-02-03,Credit Card,BANGALORE,Govt,71,3,F,Married
230,A3,2006-02-04,Credit Card,DELHI,Salaried_Pvt,34,1,F,Married
231,A4,2006-03-25,Credit Card,TRIVANDRUM,Govt,47,2,M,Single
232,A5,2006-03-31,Credit Card,COCHIN,Govt,56,1,F,Single
233,A6,2006-03-23,Credit Card,CHENNAI,Govt,70,2,F,Married
234,A7,2004-03-19,Credit Card,DELHI,Salaried_MNC,26,1,M,Single
235,A8,2006-03-05,Credit Card,TRIVANDRUM,Self Employed,67,5,F,Single
236,A9,2005-04-04,Lease Rent Discounting,BOMBAY,Salaried_MNC,79,2,F,Single
237,A10,2006-04-30,Lease Rent Discounting,COCHIN,Salaried_Pvt,54,1,F,Married
238,A11,2004-04-25,Lease Rent Discounting,CALCUTTA,Self Employed,35,2,M,Married
239,A12,2006-04-19,Lease Rent Discounting,DELHI,Salaried_Pvt,51,5,M,Single
240,A13,2004-04-06,Health Insurance,BOMBAY,Govt,29,2,F,Single
241,A14,2005-04-27,Health EMI Network Card,TRIVANDRUM,Salaried_MNC,16,1,M,Single
242,A1,2004-05-05,Personal Loan,BOMBAY,Salaried_Pvt,76,4,M,Single
243,A2,2006-05-06,2&3 Wheerler Loan,BANGALORE,Govt,71,3,F,Married
244,A3,2005-05-07,Motor Insurance,DELHI,Salaried_Pvt,34,1,F,Single
245,A4,2006-05-08,Home Insurance,TRIVANDRUM,Govt,47,2,M,Single
246,A5,2005-05-09,Loan,COCHIN,Govt,56,3,F,Single
247,A6,2006-05-10,Fixed Deposit,CHENNAI,Govt,70,3,F,Married
248,A7,2006-07-11,Fixed Deposit,DELHI,Salaried_MNC,26,2,M,Single
249,A8,2005-08-12,Fixed Deposit,TRIVANDRUM,Self Employed,67,2,F,Married
250,A9,2004-09-13,Fixed Deposit,BOMBAY,Salaried_MNC,79,4,F,Married
251,A10,2005-11-20,Fixed Deposit,COCHIN,Salaried_Pvt,54,4,F,Married
252,A11,2006-11-21,Fixed Deposit,CALCUTTA,Self Employed,35,2,M,Single
253,A12,2005-11-22,Fixed Deposit,DELHI,Salaried_Pvt,51,3,M,Single
254,A13,2004-11-23,Fixed Deposit,BOMBAY,Govt,29,1,F,Married
255,A14,2005-05-24,Fixed Deposit,TRIVANDRUM,Salaried_MNC,16,2,M,Single
256,A5,2005-05-25,Fixed Deposit,COCHIN,Govt,56,4,F,Single
257,A6,2005-05-26,Fixed Deposit,CHENNAI,Govt,70,4,F,Married
258,A7,2005-05-27,Fixed Deposit,DELHI,Salaried_MNC,26,3,M,Married
259,A8,2005-05-28,Fixed Deposit,TRIVANDRUM,Self Employed,67,3,F,Single
260,A9,2005-05-29,Fixed Deposit,BOMBAY,Salaried_MNC,79,5,F,Married
261,A10,2005-05-30,Fixed Deposit,COCHIN,Salaried_Pvt,54,4,F,Single
262,A11,2005-05-31,Fixed Deposit,CALCUTTA,Self Employed,35,4,M,Married
263,A12,2005-06-01,Credit Card,DELHI,Salaried_Pvt,51,1,M,Single
264,A13,2005-06-02,EMI NETWORK Card,BOMBAY,Govt,29,5,F,Single
265,A14,2005-06-03,Lease Rent Discounting,TRIVANDRUM,Salaried_MNC,16,4,M,Single
266,A15,2005-07-03,Lease Rent Discounting,BANGALORE,Salaried_MNC,25,3,F,Single
267,A16,2005-08-03,Lease Rent Discounting,TRIVANDRUM,Salaried_MNC,52,5,F,Single
268,A17,2005-09-03,Lease Rent Discounting,CHENNAI,Self Employed,78,5,M,Married
269,A18,2005-10-03,Health Insurance,CHENNAI,Salaried_MNC,34,3,M,Single
270,A19,2005-11-03,Health EMI Network Card,COCHIN,Salaried_MNC,27,4,M,Single
271,A20,2005-12-03,Health EMI Network Card,TRIVANDRUM,Govt,27,3,F,Married
272,A21,2006-01-03,Health EMI Network Card,BOMBAY,Normal Salary,57,2,F,Single
273,A22,2006-02-03,Health EMI Network Card,TRIVANDRUM,Salaried_Pvt,27,3,F,Single
274,A5,2006-03-03,Health EMI Network Card,COCHIN,Govt,56,2,F,Single
275,A6,2006-04-03,Health EMI Network Card,CHENNAI,Govt,70,2,F,Married
276,A7,2006-05-03,Health EMI Network Card,DELHI,Salaried_MNC,26,5,M,Married
277,A8,2006-06-03,Health EMI Network Card,TRIVANDRUM,Self Employed,67,2,F,Married
278,A9,2006-07-03,Health EMI Network Card,BOMBAY,Salaried_MNC,79,3,F,Married
279,A10,2006-08-03,Health EMI Network Card,COCHIN,Salaried_Pvt,54,2,F,Single
280,A11,2006-09-03,Health EMI Network Card,CALCUTTA,Self Employed,35,1,M,Married
281,A12,2006-10-03,Demat Account,DELHI,Salaried_Pvt,51,1,M,Married
282,A13,2006-11-03,Extended Warranty,BOMBAY,Govt,29,4,F,Married
283,A14,2006-12-03,Asset Care,TRIVANDRUM,Salaried_MNC,16,4,M,Single
284,A15,2004-01-12,Health Insurance,BANGALORE,Salaried_MNC,25,5,F,Married
285,A16,2004-01-03,Health EMI Network Card,TRIVANDRUM,Salaried_MNC,52,5,F,Single
286,A17,2004-01-15,Personal Loan,CHENNAI,Self Employed,78,2,M,Single
287,A18,2004-01-25,2&3 Wheerler Loan,CHENNAI,Salaried_MNC,34,1,M,Single
288,A19,2005-01-17,Motor Insurance,COCHIN,Salaried_MNC,27,2,M,Single
289,A20,2005-02-23,Home Insurance,TRIVANDRUM,Govt,27,1,F,Single
290,A21,2005-02-01,Loan,BOMBAY,Normal Salary,57,3,F,Married
291,A22,2004-02-05,Fixed Deposit,TRIVANDRUM,Salaried_Pvt,27,2,F,Married

In [67]:
# As there are no null values in dataset we can proceed.

df_final.isnull().sum()

Customer               0
Month                  0
Type                   0
City                   0
Segment                0
Age                    0
Product-ratings        0
gender                 0
Relationship Status    0
dtype: int64